.sliderx-progress-bar {
    height: 8px;
    background: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.sliderx-progress-bar-fill {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: blue;
}

.sliderx-slide {
    position: absolute;
    will-change: transform;
    width: auto;
}

.sliderx-slider {
    display: flex;
    justify-content: center;
    user-select: none;
    width: 100%;
}
